@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="col-sm-6 col-sm-offset-3">
    <div class="card-box row">
        <div class="col-xs-12">
            <h2 class="m-t-0 header-title"><b>Error.</b></h2>
            <hr />
            <p class="text-muted font-13 m-b-30">
                An error occurred while processing your request. Please try again. If the problem persists, please contact an administrator.
            </p>
        </div>
    </div>
</div>