@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="col-sm-6 col-sm-offset-3">
    <div class="card-box row">
        <div class="col-xs-12">
            <h2 class="m-t-0 header-title"><b>Check Your Email</b></h2>
            <hr />
            <p class="text-muted font-13 m-b-30">
                Instructions for resetting your password have been sent to the email you provided. Please check your email and follow the instructions for resetting your Code Variations password. Thanks again for using Code Variations.
            </p>
        </div>
    </div>
</div>
	
