/* SHARED SITE STYLES 
************************************/
body {
    font-family: 'Roboto', sans-serif;
    padding-bottom:0;
    padding-top:0;
    color: #333 !important;
    letter-spacing: .8px;
    overflow-x:visible;
    height:100%;
}

*:hover {
    transition: all 0.2s ease-out;
}

input,
textarea {
    letter-spacing: .8px;
    max-width:100% !important;
}

.form-control.input-sm {
    width:auto;
}

.input
.select {
    width:100% !important;
}

h1,h2,h3,h4,h5,h6,.h6,strong,.strong {
    font-family: 'Passion One', cursive;
    font-weight:400;
}

h1 {
    font-size:4em;
}
h2 {
    font-size:3.5em;
}
h3 {
    font-size: 3em;
}
h4, .header-title {
    font-size:2.5em;
}

.header-title {
    margin:20px auto;
    line-height:1em;
}

h5, .h5 {
    font-size:2em;
}
h6, .h6 {
    font-size:1.5em;
}

.body-content {
    max-width:100% !important;
    padding:0 !important;
    min-height:100vh;
}

/* NAV STYLING */

.navbar-custom,
.bg-dark {
    background-color:#444444;
    background:#444444;
    padding:10px 0;
}

.nav-logo {
    width:180px;
}

.btn-group > .btn:first-child {
    margin-left:10px;
}

.navbar-custom .navbar-nav li a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    background-color: transparent !important;
    transition: all 0.2s ease-out;
    padding-top:18px;
    padding-bottom:18px;
}

.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:focus
 {
    color:#00a1e9;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #fff;
    font-size:2em;
}

.fa-cog {
    color:#aaa;
    padding-right:10px;
    font-size:.9em;
}

.fa-cogs {
    font-size:1.6em !important;
    position:relative;
    top:5px;
}

.x-pad-right {
    padding-right: 5px;
}

.x-pad-top {
    padding-top: 5px;
}

#datatables_buttons_info h2 {
    font-size:1.5em !important;
}

.file-img {
    width: 100px;
    padding: 20px;
}

.light-blue {
    color: #3ddcf7; 
}

/* GENERAL BRAND STYLING */

.brand {
    position:relative;
    padding: 0 5px;
    bottom:10px;
    width: 80px;
}

/* BUTTON STYLING */

.btn-primary:hover {
    background-color: #00a1e9 !important;
    transition: all 0.2s ease-out;
}

.btn-primary {
    background-color: #898989 !important;
    border-color:transparent !important;
    transition: all 0.2s ease-out;
}

.btn-info, btn-link {
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    transition: all 0.2s ease-out;
}

.btn-info:hover {
    background-color: #33bbd2 !important;
    border-color:transparent !important;
    transition: all 0.2s ease-out;
}

.btn-link:hover {
    transition: all 0.2s ease-out;
}


/* HR STYLING */

.ridges {
    border-top:none;
    border-bottom:10px double #00a1e9;
}

/* FONT AWESOME STYLING */

.fa-check {
    font-size:4em !important;
}

/* START PAGE STYLES 
************************************/

.typed-box {
    margin-bottom: 150px;
}

/*BLINKING CURSOR - TYPED.JS*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.pricing-num {
    font-size: 30px;
    font-weight: 700;
    line-height: 100px;
    height: 120px;
    width: 120px;
    margin: 0px auto;
    color: #79D5FD;
    background: rgba(166, 227, 254, .8);
    border-radius: 50%;
    border: 12px solid;
    border-color: #DBF3FD;
}

.bg-gray {
    background-color:#f4f4f4;
}

.bg-overlay {
    background: linear-gradient(#121212, #050505);
    opacity: 0.85;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

.nav.nav-tabs > li > a {
    background-color:#444;
    color:#fff !important;
    transition:none;
}

.nav.nav-tabs > li.active > a {
    color: #228bdf !important;
}

.nav-tabs {
    background-color: #444;

}

.navtab-custom li a {
     border-top: 0 !important; 
}

/* LOGIN PAGE STYLES 
************************************/
/*Carbon-Fibre Texture*/
#login, #dashboard {
    background-image: url("img/CV-bg.png");
    background-repeat:repeat;
    border:none;
    background-color: #ccc;
}

#login {
    height:100vh;
}

#login label  {
    font-family: 'Passion One', cursive;
    font-size:1.5em;
}

#dashboard label,
#login label  {
    font-family: 'Passion One', cursive;
    font-size:1.2em;
    color:#505458;
    font-weight:400;

}

.login-section {
    margin-top:100px;
}


/* DASHBOARD STYLES 
************************************/
#topnav .topbar-main .logo {
    margin-top:0;
}

#topnav .topbar-main {
    background-color:#444444;
}

#dashboard .navbar-custom {
    padding:0;
}

#dashboard table .btn-xs {
    margin-bottom:5px;
}

#dashboard .custom-drop-selections {
    display: block;
    padding: 6px 20px 6px 18px;
    clear: both;
    text-align:left;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
    text-decoration: none;
    width:100%;
}

#dashboard .custom-drop-selections:hover {
    background-color:#428bca;
    color:#fff;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #444;
    border-color: #444;
}

.section-heading {
    text-align: center;
    padding: 10px 0 40px 0;
    text-transform:uppercase;
}

#details td {
    padding: 5px 15px;
}

#accordion-test-2 .panel-heading {
    background-color:#444;
    border-radius:0;
    color:#fff!important;
    text-transform:none;
}

.panel-group .panel {
    border-radius:0;
}

#ticket-details li a,
#accordion-test-2 .panel-title {
    font-family: 'Passion One', cursive !important;
    font-weight: 400 !important;
    letter-spacing: 1.5px;
}

.comment-container {
    max-height:400px;
}

.conversation-list {
    max-height:200px;
}

.comment-box {
    width:100% !important;
    max-width: 100% !important;
}

input[type="file" i]::-webkit-file-upload-button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    background-color: #3ddcf7;
    box-sizing: border-box;
    padding: 10px 14px;
    border-radius: 2px 0 0 2px;
    border: 1px solid #3ddcf7;
}

input[type="file" i]::-webkit-file-upload-button:hover {
    background-color: #33bbd2 !important;
    transition: all 0.2s ease-out;
    border: 1px solid #33bbd2;
}

#fileToUpload {
    border: 1px solid #eee;
    border-radius: 2px;
    max-width:100%;
    width:100%;
}

.lifile .btn-info {
    margin-top: 15px;
}

.star-bullet {
    list-style-type:none;
}
.star-bullet li:before {    
font-family: 'FontAwesome';
content: "\f005";
margin:0 5px 0 -15px;
color: #3ddcf7;
}
/* MEDIA QUERIES 
************************************/
@media (min-width: 768px) {
    .fa-bars {
        display:none;
    }

    #dashboard .body-content {
        padding-top:174px !important;
    }
}

@media (max-width:767px) {
    #dashboard .body-content {
        padding-top:110px !important;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        padding: 6px 20px 6px 20px !important;
    }
}




